<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
   <title>To-Do App</title>
</head>
<body>



   <h1>To-Do Website:</h1>
   <form method="post" action="/add">
      <div>
         <div class="flex">
            <input type="text" name="todo" placeholder="Add a todo" id="inline-full-name">
         </div>
         {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}<br>
         </div>
      <input type="submit" value="Add">
   </form>

   <br><br>
   <hr>
   <h2>To-Dos:</h2>
   <br>
   {% for todo in todos %}
      {% if todo[2] != 1 %}
      <div id="ToDoDiv">
         <div id="First" class="flex-child">
            <p>Your To-Do: {{todo[0]}}</p>

         </div>
         <div class="flex-child" id="Buttons">
            <a href="/delete/{{todo[1]}}">Delete</a>
         </div>
      </div>
      <br><br>
      {% endif %}
   {% endfor %}


   <br><br>
   <hr>
   <div class="pure-menu pure-menu-scrollable menu-custom">
      <ul class="pure-menu-list">
         <li class="pure-menu-item">
            <a href="#"
               class="pure-menu-link">
              HTML
            </a>
         </li>
         <li class="pure-menu-item">
            <a href="#"
               class="pure-menu-link">
              CSS
            </a>
         </li>
         <li class="pure-menu-item">
            <a href="#"
               class="pure-menu-link">
              Bootstrap
            </a>
         </li>
         <li class="pure-menu-item">
            <a href="#"
               class="pure-menu-link">
              Javascript
            </a>
         </li>
         <li class="pure-menu-item">
            <a href="#"
               class="pure-menu-link">
              JQuery
            </a>
         </li>
         <li class="pure-menu-item">
            <a href="#"
               class="pure-menu-link">
              React JS
            </a>
         </li>
         <li class="pure-menu-item">
            <a href="#"
               class="pure-menu-link">
              SQL
            </a>
         </li>
         <li class="pure-menu-item">
            <a href="#"
               class="pure-menu-link">
              MongoDB
            </a>
         </li>
      </ul>
   </div>

</body>
</html>