<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css') }}">
   <link rel="icon" href="{{ url_for('static', filename='assets/todo4you_component.png')}}">
   <title>To-Do App</title>
</head>
<body>



   <h1 class="center">Your own To-Do List:</h1>

   <div class="AddTodoForm">
      <form method="post" action="/add">
         
            <div class="AddToDo">
               <input type="text" name="todo" placeholder="Todo" class="TodoInput"><span>*</span><br><br>

               <label for="importancy">Importancy</label><br>
               <select title="importancy" name="importancy" id="importancy" value="">
                  <option value="" selected disabled hidden>Choose here</option>
                  <option value="very-important">Very Important</option>
                  <option value="important">Important</option>
                  <option value="not">Not Important</option>
                </select>
            </div>
         
         <input type="submit" value="Add Todo">
      </form>
   </div>

   <br><br>

   <h2 class="center">To-Dos:</h2>
   <br>
   
   <div class="ToDos">  
         <div class="very-important">

               {% for todo in todos %}
                  {% if todo[2] == "very-important" %}
                  <br>
                  <div class="ToDo very-importantDiv {{todo[1]}}">
                     <p class="TodoParagraph">{{todo[0]}}</p>
                     <div class="editTodo">
                        <br>
                        <input type="text" name="" value="{{todo[0]}}" style="display: block;" placeholder="New To-Do">
                        <br>
                     </div>
                     
                     <div class="actionTodo">
                        <a href="/delete/{{todo[1]}}" class="deleteButton"><span><i class="bi bi-trash"></i></span> | Delete</a>
                        <button onclick="openEditMode({{todo[1]}})"><span><i class="bi bi-pen"></i></span> | Edit </button>
                     </div>
                     <div class="editTodo">
                        <a href="/movedown/{{todo[1]}}"><i class="bi bi-arrow-down"></i></a>
                        <a href="/editTodo/{{todo[1]}}"><i class="bi bi-check-square-fill" style="color: lightgreen;"></i></a>                        
                     </div>
                  </div>
                  <br>
                  {% endif %}
               {% endfor %} 

         </div>


         <div class="important">

            {% for todo in todos %}
               {% if todo[2] == "important" %}
               <br>
               <div class="ToDo importantDiv {{todo[1]}}">
                  <p class="TodoParagraph">{{todo[0]}}</p>
                  <div class="editTodo">
                     <br>
                     <input type="text" name="" value="{{todo[0]}}" style="display: block;" placeholder="New To-Do">
                     <a href=""></a>
                  </div>
                  
                  <div class="actionTodo">
                     <a href="/delete/{{todo[1]}}" class="deleteButton"><span><i class="bi bi-trash"></i></span> | Delete</a>
                     <button onclick="openEditMode({{todo[1]}})"><span><i class="bi bi-pen"></i></span> | Edit </button>
                  </div>
                  <div class="editTodo">
                     <a href=""><i class="bi bi-arrow-up"></i></a>
                     <a href=""><i class="bi bi-arrow-down"></i></a>
                  </div>
               </div>
               <br>
               {% endif %}
            {% endfor %} 

      </div>


   </div><br>
   <div class="addTodo">
      <button onclick="OpenAddTodo()"><span><i class="bi bi-clipboard2-plus"></i></span> | Add To-Do</button>
   </div>
   <br><br>
   <hr>

   {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <div class="error">
            <p class="errorMessage"><span></span><i class="bi bi-emoji-frown"></i> | {{message}}</p>
         </div>
      
      {% endfor %}
      {% else %}
      <br>
      {% endif %}

   <!-- ADD A APPEARING THINGY HERE -->
   {% endwith %}

</body>
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</html>