<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css') }}">

   <title>To-Do App</title>
</head>
<body>



   <h1>To-Do Website:</h1>

   <div class="AddTodoForm">
      <form method="post" action="/add">
         
            <div class="AddToDo">
               <input type="text" name="todo" placeholder="Todo"><span>*</span><br><br>

               <label for="importancy">Importancy</label><br>
               <select title="test" name="cars" id="cars">
                  <option value="very-important">Very Important</option>
                  <option value="important">Important</option>
                  <option value="not">Not Important</option>
                </select>
            </div>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                  {% for message in messages %}
                     <p class="errorMessage"><span></span><i class="bi bi-emoji-frown"></i> | {{message}}</p>
                  {% endfor %}
                  {% else %}
                  <br>
                  {% endif %}


         {% endwith %}
         
         <input type="submit" value="Add">
      </form>
   </div>

   <br><br>
   <hr>
   <h2>To-Dos:</h2>
   <br>
   
   <div class="ToDos">


         {% for todo in todos %}
            {% if todo[2] != 1 %}
            <div class="ToDo">
               <p>Your To-Do: {{todo[0]}}</p>
               <a href="/delete/{{todo[1]}}" class="deleteButton">Delete</a>
            </div>
            <br>
            {% endif %}
         {% endfor %}



   </div><br>
   <div class="AddTodo">
      <button onclick="OpenAddTodo()"><span><i class="bi bi-pen"></i></span> | Add To-Do</button>
   </div>
   <br><br>
   <hr>

</body>
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</html>