@font-face {
    font-family: Roboto;
    src: url("../assets/Roboto.ttf");
}
body{
    margin: 0;

    font-family: Roboto;
}
.center{
    text-align: center;
}
.ToDos::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
.ToDos::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.ToDos::-webkit-scrollbar-thumb {
    background: #c2c2c2; 
}

/* Handle on hover */
.ToDos::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.errorMessage{
    
}

.ToDos{
    height: 350px;
    width: 50%;
    border: 1px solid black;
    overflow: scroll;
    transform: translateX(50%);
}
.ToDo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.ToDo p{
    margin-left: 10px;
}
.ToDo a{
    margin-right: 15px;
}

.deleteButton{
    margin-left: 115px;
}

.AddTodoForm{
    position: fixed;
    right: 5%;
    /* display: none; */
    bottom: 5%;
}

.AddTodo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.AddTodo button{
    padding: 10px 10px;
    font-size: large;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 10px;
    cursor: pointer;
}